.table {
    border:1px solid black;
    display:flex;
    flex-direction: column;
    height:200px;
    width:20%;
}
.table-header {
    position:relative;
    display:flex;
    flex-direction: column;
    border:1px solid black;
}
.table-item-input{
    position:absolute;
    left:200px;
}
.draggable {
    border:1px solid blue;
}
.table-content{
    background: whitesmoke;
    border:2px solid black;
    height:199px;
}
.draggable {
    margin:10px;
    display:flex;
    flex-direction: column;
}